$def with (pairs, tags, left_paradigms, right_paradigms, post_data)

<html>
<head>
  <title>Apertium dictionary management</title>
  <link rel="stylesheet" type="text/css" href="/styles/default.css"/>
  <script src="/js/boxover.js"></script> 
</head>
<body>
<form action="add" method="POST" name="dixform">
<div id="language_bar">
ca · en · es
</div>
<div>
  <div width="100%">                                                            <!-- Header -->
    Language pair: <select name="selected_pair" onChange="dixform.submit();">
$for pair in pairs.keys():
    $if pair == post_data['selected_pair']:
         <option value="$pair" selected>$pair</option>
    $else:
         <option value="$pair">$pair</option>

    </select>
    Part-of-speech: <select name="selected_tag" onChange="dixform.submit();">
$for tag in tags.keys():
    $if tag == post_data['selected_tag']:
         <option value="$tag" selected>$tag</option>
    $else:
         <option value="$tag">$tag</option>

    </select>
  </div>

  <hr/>
  <div>
    <!-- Left side -->
      Lemma:<sup><span class="tooltip" title="header=[Lemma] body=[Type in the lemma, or citation form of the word you wish to add.]">?</span></sup>
      <input type="text" name="left_lemma" value="$post_data['left_lemma']">
      Paradigm:<sup><span class="tooltip" title="header=[Paradigm] body=[Paradigms define how a word inflects, select the one that fits the lemma you added.]">?</span></sup>
      <select name="left_paradigm">
$for left_paradigm in left_paradigms:
    $if left_paradigm.name == post_data['left_paradigm']:
        <option value="$left_paradigm.name" selected>$left_paradigm.name</option>
    $else:
        <option value="$left_paradigm.name">$left_paradigm.name</option>

      </select>
  </div>
    <!-- Bidix side -->
  <div id="centre">

    <input type="submit" name="clear_box" value="Clear">
    <input type="submit" name="preview_box" value="Preview">
    <input type="submit" name="commit_box" value="Commit">

  </div>
    <!-- Right side -->
  <div id="right">
      Lemma:<sup><span class="tooltip" title="header=[Lemma] body=[Type in the lemma, or citation form of the word you wish to add.]">?</span></sup>
      <input type="text" name="right_lemma" value="$post_data['right_lemma']">
      Paradigm:<sup><span class="tooltip" title="header=[Paradigm] body=[Paradigms define how a word inflects, select the one that fits the lemma you added.]">?</span></sup>
      <select name="right_paradigm">
$for right_paradigm in right_paradigms:
    $if right_paradigm.name == post_data['right_paradigm']:
        <option value="$right_paradigm.name" selected>$right_paradigm.name</option>
    $else:
        <option value="$right_paradigm.name">$right_paradigm.name</option>

      </select>

  </div>
</div>
</form>

</body>
</html>
