body {
  margin:0; padding:0;
  font-size:80%;
  font-family: sans-serif;
}

pre {
  text-align: left;
}

/*
input{
  font-size:80%
  font-family:sans-serif;
  border:1px solid;
}

select{
  font-size:80%
  font-family:sans-serif;
  border:1px solid;
}
*/

.header {
  display: block;
  width: 800px;
  margin: auto;
  display:table;
}

.container800 {
  width: 800px;
  margin: auto;
  padding:0;
  display: table;
  border: 1px solid black;
}

.container {
  padding:0;
  display: table;
}

.row  {
  display: table-row;
}

.left {
  padding:0.2em;
  display: table-cell;
}

.right {
  padding:0.2em;
  display: table-cell;
  text-align:right;
}

.middle {
  padding: 0.2em;
  display: table-cell;
  text-align:center;
}

.leftm {
  vertical-align:top;
  padding:1em;
  display: table-cell;
}

.rightm {
  vertical-align:top;
  padding:1em;
  display: table-cell;
  text-align:right;
}

.middlem {
  vertical-align:top;
  padding: 1em;
  display: table-cell;
  text-align:center;
}

.inflection{
  text-align:center;
}

.symbol_list{
  color: #aaaaaa;
}
