body {
	margin: 0px;
	padding: 0px;
}

div {
	border: black 0px solid;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	padding: 0px;
	margin: 0px;
}

hr {
	border: grey 1px solid;
	padding: 0px;
	margin: 0px;
}

pre {
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 12px;
	border: black 1px solid;
}

#tooltip {
	font-color: #990000;
	color: #990000;
}

#language_bar {
	text-align: right;
	padding: 0px;
	margin-right: 0px;
	margin: 0px;
	width: 100%;
	border: black 0px solid;
}

#left {
	float: left;
	width: 34%;
}

#right {
	float: left;
	width: 32%;
}

#centre {
	float: left;
	width: 34%;
}

#known_word {
	border: red 2px solid;
}

#symbol_list {
	font-size: 10pt;
	font-family: monospace, fixed;
	color: #aaaaaa;
}

#bidix_entrada {
	font-size: 10pt;
	font-family: monospace, fixed;
	color: #aaaaaa;
	text-align: left;
	border: black 1px solid; 
}


#monodix_entrada {
	font-size: 10pt;
	font-family: monospace, fixed;
	color: #aaaaaa;
	text-align: left;
	border: black 1px solid;
}

