<?xml version="1.0" encoding="UTF-8"?>

<webforms>
  <directories>
    <wd>/home/fran/public_html/dictionary</wd>
    <cache>cache</cache>
    <templates>templates</templates>
  </directories>

  <pairs>
    <pair n="apertium-es-gl">
      <dictionaries>
        <dictionary n="Spanish" side="l" format="dix" file="apertium-es-gl.es.dix" />
        <dictionary side="bilingual" format="dix" file="apertium-es-gl.es-gl.dix" />
        <dictionary n="Galician" side="r" format="dix" file="apertium-es-gl.gl.dix" />
      </dictionaries>
      <tags>
        <tag n="n">
          <side n="l" depth="2">
            <use-template tags="n.mf" file="template.LR.n.mf"/>
          </side>
          <side n="r" depth="2">
            <use-template tags="n.mf" file="template.RL.n.mf"/>
          </side>
        </tag>
        <tag n="adj">
          <side n="l" depth="2">
            <use-template tags="adj.mf" file="template.LR.adj.mf"/>
          </side>
          <side n="r" depth="2">
            <use-template tags="adj.mf" file="template.RL.adj.mf"/>
          </side>
        </tag>
        <tag n="adv"/>
        <tag n="vblex">
          <show syms="vblex.pri.p1.sg"/>
	  <show syms="vblex.prs.p1.sg"/>
	  <show syms="vblex.pp.m.sg"/>
	</tag>
      </tags>
    </pair>

    <pair n="apertium-es-ca">
      <dictionaries>
        <dictionary n="Spanish" side="l" format="dix" file="apertium-es-ca.es.dix" />
        <dictionary side="bilingual" format="dix" file="apertium-es-ca.es-ca.dix" />
        <dictionary n="Catalan" side="r" format="dix" file="apertium-es-ca.ca.dix" />
      </dictionaries>
      <tags>
        <tag n="n">
          <side n="l" depth="2">
      
	    <paradigms display="list">
	      <paradigm n="abeja__n" c="abeja /s"/>
	      <paradigm n="abril__n" c="abril /es"/>
	      <paradigm n="abismo__n" c="abrigo /s"/>
	      <paradigm n="CV__n" c="análisis"/>
	      <paradigm n="albañil__n" c="auxiliar /es"/>
	      <paradigm n="accionista__n" c="accionista /s"/>
	      <paradigm n="gilipollas__n" c="guardaespaldas"/>
	      <paradigm n="im/agen__n" c="im/agen /ágenes"/>
	      <paradigm n="cert/amen__n" c="cert/amen /ámenes"/>
	      <paradigm n="empera/dor__n" c="empera/dor /triz /dores /trices"/>
	      <paradigm n="asistent/e__n" c="asistent/e /a /es /as"/>
	      <paradigm n="or/igen__n" c="or/igen /ígenes"/>
	      <paradigm n="abor/igen__n" c="abor/igen /ígenes"/>
	      <paradigm n="calabac/in__n" c="calabac/ín /ines"/>
	      <paradigm n="abogad/o__n" c="abogad/o /a /os /as"/>
	      <paradigm n="res/umen__n" c="res/umen /úmenes"/>
	      <paradigm n="andalu/z__n" c="andalu/z /za /ces /zas"/>
	      <paradigm n="ajedre/z__n" c="ajedre/z /ces"/>
	      <paradigm n="actri/z__n" c="actri/z /ces"/>
	      <paradigm n="aprendi/z__n" c="aprendi/z /ces"/>
	      <paradigm n="alem/án__n" c="alem/án /ana /anes /anas"/>
	      <paradigm n="sart/én__n" c="sart/én /enes"/>
	      <paradigm n="almac/én__n" c="almac/én /enes"/>
	      <paradigm n="aragon/és__n" c="aragon/és /esa /eses /esas"/>
	      <paradigm n="cipr/és__n" c="cipr/és /eses"/>
	      <paradigm n="bailar/ín__n" c="bailar/ín /ina /ines /inas"/>
	      <paradigm n="bot/ín__n" c="bot/ín /ines"/>
	      <paradigm n="anfitri/ón__n" c="anfitri/ón /ona /ones /onas"/>
	      <paradigm n="acci/ón__n" c="acci/ón /ones"/>
	      <paradigm n="aluvi/ón__n" c="aluvi/ón /ones"/>
	      <paradigm n="afueras__n" c="afueras"/>
	      <paradigm n="Sr__n" c="autor /a /es /as"/>
	      <paradigm n="accesibilidad__n" c="accesibilidad /des"/>
	      <paradigm n="abad__n" c="abad /esa /es /esas"/>
	      <paradigm n="alcalde__n" c="alcalde /esa /s /esas"/>
	      <paradigm n="Moncloa__n" c="cuaresma"/>
	      <paradigm n="Tm__n" c="tesis"/>
	      <paradigm n="Ws__n" c="alrededores"/>
	      <paradigm n="abril__n" c="abril /es"/>
	      <paradigm n="abismo__n" c="abrigo /s"/>
	      <paradigm n="CV__n" c="análisis"/>
	      <paradigm n="albañil__n" c="auxiliar /es"/>
	      <paradigm n="accionista__n" c="accionista /s"/>
	      <paradigm n="gilipollas__n" c="guardaespaldas"/>
	      <paradigm n="im/agen__n" c="im/agen /ágenes"/>
	      <paradigm n="cert/amen__n" c="cert/amen /ámenes"/>
	      <paradigm n="empera/dor__n" c="empera/dor /triz /dores /trices"/>
	      <paradigm n="asistent/e__n" c="asistent/e /a /es /as"/>
	      <paradigm n="or/igen__n" c="or/igen /ígenes"/>
	      <paradigm n="abor/igen__n" c="abor/igen /ígenes"/>
	      <paradigm n="calabac/in__n" c="calabac/ín /ines"/>
	      <paradigm n="abogad/o__n" c="abogad/o /a /os /as"/>
	      <paradigm n="res/umen__n" c="res/umen /úmenes"/>
	      <paradigm n="andalu/z__n" c="andalu/z /za /ces /zas"/>
	      <paradigm n="ajedre/z__n" c="ajedre/z /ces"/>
	      <paradigm n="actri/z__n" c="actri/z /ces"/>
	      <paradigm n="aprendi/z__n" c="aprendi/z /ces"/>
	      <paradigm n="alem/án__n" c="alem/án /ana /anes /anas"/>
	      <paradigm n="sart/én__n" c="sart/én /enes"/>
	      <paradigm n="almac/én__n" c="almac/én /enes"/>
	      <paradigm n="aragon/és__n" c="aragon/és /esa /eses /esas"/>
	      <paradigm n="cipr/és__n" c="cipr/és /eses"/>
	      <paradigm n="bailar/ín__n" c="bailar/ín /ina /ines /inas"/>
	      <paradigm n="bot/ín__n" c="bot/ín /ines"/>
	      <paradigm n="anfitri/ón__n" c="anfitri/ón /ona /ones /onas"/>
	      <paradigm n="acci/ón__n" c="acci/ón /ones"/>
	      <paradigm n="aluvi/ón__n" c="aluvi/ón /ones"/>
	      <paradigm n="ATS__n" c="el/la/los/las ATS"/>
	      <paradigm n="BBC__n" c="la BBC"/>
	      <paradigm n="BBVA__n" c="el BBVA"/>
              <paradigm n="IRPF__n" c="el/los IRPF"/>
	      <paradigm n="ETS__n" c="la/las ETS"/>      
	      <paradigm n="EE.UU.__n" c="los EE.UU."/>
	      <paradigm n="TIC__n" c="las TIC"/> 
	    </paradigms>
          </side>
          <side n="r" depth="2">
            <paradigms display="list">
	      <paradigm n="abric__n" c="abric /s"/>
	      <paradigm n="abell/a__n" c="abell/a /es"/>
	      <paradigm n="acompanyant__n" c="acompanyant /s"/>
	      <paradigm n="accionist/a__n" c="accionist/a /es"/>
	      <paradigm n="ca__n" c="ca /s"/>
	      <paradigm n="fi__n" c="fi /ns"/>
	      <paradigm n="accessibilitat__n" c="accessibilitat /s"/>
	      <paradigm n="abast__n" c="abast /s /os"/>
	      <paradigm n="as__n" c="as /os"/>
	      <paradigm n="cos__n" c="cos /sos"/>
	      <paradigm n="alg/a__n" c="alg/a /ues"/>
	      <paradigm n="carism/a__n" c="carism/a /es"/>
	      <paradigm n="meg/a__n" c="meg/a /ues"/>
	      <paradigm n="acústi/ca__n" c="acústi/ca /ques"/>
	      <paradigm n="monar/ca__n" c="monar/ca /ques"/>
	      <paradigm n="col·leg/a__n" c="col·leg/a /ues"/>
	      <paradigm n="cert/amen__n" c="cert/amen /àmens"/>
	      <paradigm n="m/arge__n" c="m/arge /arges /àrgens"/>
	      <paradigm n="Sr__n" c="autor /a /s /es"/>
	      <paradigm n="sacerdot__n" c="sacerdot /essa /s /esses"/>
	      <paradigm n="gos__n" c="gos /sa /sos /ses"/>
	      <paradigm n="alcalde__n" c="alcalde /ssa /s /sses"/>
	      <paradigm n="mag__n" c="mag /a /s /ues"/>
	      <paradigm n="gal__n" c="gal /·la /s /·les"/>
	      <paradigm n="adjudicat/ari__n" c="adjudicat/ari /ària /aris /àries"/>
	      <paradigm n="ami/c__n" c="ami/c /ga /cs /gues"/>
	      <paradigm n="bas/c__n" c="bas/c /ca /cos /cs /ques"/>
	      <paradigm n="asiàti/c__n" c="asiàti/c /ca /cs /ques"/>
	      <paradigm n="addict/e__n" c="addict/e /a /es /es"/>
	      <paradigm n="biòl/eg__n" c="biòl/eg /oga /egs /ogues"/>
	      <paradigm n="indiv/idu__n" c="indiv/idu /ídua /idus /ídues"/>
	      <paradigm n="pèl-ro/ig__n" c="ro/ig /ja /jos /ges"/>
	      <paradigm n="abor/igen__n" c="abor/igen /ígens"/>
	      <paradigm n="mon/jo__n" c="mon/jo /ja /jos /ges"/>
	      <paradigm n="s/oci__n" c="s/oci /òcia /ocis /òcies"/>
	      <paradigm n="llo/p__n" c="llo/p /ba /ps /bes"/>
	      <paradigm n="advoca/t__n" c="advoca/t /da /ts /des"/>
	      <paradigm n="ate/u__n" c="ate/u /a /us /es"/>
	      <paradigm n="administrati/u__n" c="administrati/u /va /us /ves"/>
	      <paradigm n="americ/à__n" c="americ/à /ana /ans /anes"/>
	      <paradigm n="xil/è__n" c="xil/è /ena /ens /enes"/>
	      <paradigm n="angl/ès__n" c="angl/ès /esa /esos /eses"/>
	      <paradigm n="ordenan/ça__n" c="ordenan/ça /ces"/>
	      <paradigm n="alacant/í__n" c="alacant/í /ina /ins /ines"/>
	      <paradigm n="ve/í__n" c="ve/í /ïna /ïns /ïnes"/>
	      <paradigm n="su/ís__n" c="su/ís /ïssa /ïssos /ïsses"/>
	      <paradigm n="amfitri/ó__n" c="amfitri/ó /ona /ons /ones"/>
	      <paradigm n="andal/ús__n" c="andal/ús /usa /usos /uses"/>
	      <paradigm n="boc/í__n" c="boc/í /ins"/>
	      <paradigm n="av/ís__n" c="av/ís /isos"/>
	      <paradigm n="passad/ís__n" c="passad/ís /issos"/>
	      <paradigm n="pa/ís__n" c="pa/ís /ïsos"/>
	      <paradigm n="esp/òs__n" c="esp/òs /osa /osos /oses"/>
	      <paradigm n="rep/òs__n" c="rep/òs /osos"/>
	      <paradigm n="antic/òs__n" c="antic/òs /ossos"/>
	      <paradigm n="impr/ès__n" c="impr/ès /esos"/>
	      <paradigm n="desinter/ès__n" c="desinter/ès /essos"/>
	      <paradigm n="acc/és__n" c="acc/ès /essos"/>
	      <paradigm n="desi/g__n" c="desi/g /tjos"/>
	      <paradigm n="assa/ig__n" c="assa/ig /jos"/>
	      <paradigm n="rebu/ig__n" c="rebu/ig /tjos"/>
	      <paradigm n="or/igen__n" c="or/igen /ígens"/>
	      <paradigm n="barre/ja__n" c="gran/ja /ges"/>
	      <paradigm n="aig/ua__n" c="aig/ua /ües"/>
	      <paradigm n="paraig/ua__n" c="paraig/ua /ües"/>
	      <paradigm n="bacall/à__n" c="bacall/à /ans"/>
	      <paradigm n="env/às__n" c="env/às /asos"/>
	      <paradigm n="capat/às__n" c="capat/às /assos"/>
	      <paradigm n="adre/ça__n" c="adre/ça /ces"/>
	      <paradigm n="acci/ó__n" c="canç/ó /ons"/>
	      <paradigm n="aband/ó__n" c="aband/ó /ons"/>
	      <paradigm n="contenci/ós__n" c="contenci/ós /osos"/>
	      <paradigm n="calab/ós__n" c="calab/ós /ossos"/>
	      <paradigm n="ab/ús__n" c="ab/ús /usos"/>
	      <paradigm n="Ebre__n" c="personal"/>
	      <paradigm n="escombraries__n" c="vacances"/>
	      <paradigm n="CV__n" c="dilluns"/>
	      <paradigm n="calç__n" c="diabetis"/>
	      <paradigm n="guardaespatlles__n" c="guardaespatlles"/>
	      <paradigm n="q__n" c="boxa"/>
	      <paradigm n="BBC__n" c="la BBC"/>
	      <paradigm n="BBVA__n" c="el BBVA"/>
	      <paradigm n="IRPF__n" c="el/els IRPF"/>
	      <paradigm n="IRPF__n" c="la/les MTS"/>
              <paradigm n="ATS__n" c="el/la/els/les ATS"/>
	      <paradigm n="EUA__n" c="els EUA"/>
 	      <paradigm n="TIC__n" c="les TIC"/>
	    </paradigms>
          </side>
        </tag>
        <tag n="adj">
          <side n="l" depth="2">
	    <paradigms display="list">
              <paradigm n="conservador__adj" c="abrumador_/a_/s_/as"/>
	      <paradigm n="abdominal__adj" c="abdominal /es"/>
	      <paradigm n="abundante__adj" c="abundante /s"/>
	      <paradigm n="multimedia__adj" c="multimedia"/>
	      <paradigm n="gobernant/e__adj" c="gobernant/e /a /es /as"/>
	      <paradigm n="v/irgen__adj" c="v/irgen /írgenes"/>
	      <paradigm n="absolut/o__adj" c="absolut/o /a /os /as"/>
	      <paradigm n="andalu/z__adj" c="andalu/z /za /ces /zas"/>
	      <paradigm n="atro/z__adj" c="atro/z /ces"/>
	      <paradigm n="alem/án__adj" c="alem/án /ana /anes /anas"/>
	      <paradigm n="aragon/és__adj" c="aragon/és /esa /eses /esas"/>
	      <paradigm n="mallorqu/ín__adj" c="mallorqu/ín /ina /ines /inas"/>
	      <paradigm n="af/ín__adj" c="af/ín /ines"/>
	      <paradigm n="anfitri/ón__adj" c="anfitri/ón /ona /ones /onas"/>
	      <paradigm n="marr/ón__adj" c="marr/ón /ones"/>
	      <paradigm n="com/ún__adj" c="com/ún /unes"/>
            </paradigms>
          </side>
          <side n="r" depth="2">
             <paradigms display="list">
              <paradigm n="abdominal__adj" c="abdominal_/s"/>
	      <paradigm n="agrícol/a__adj" c="agrícol/a /es"/>
	      <paradigm n="trist__adj" c="trist /a /s /os /es"/>
	      <paradigm n="complex__adj" c="annex /a /os /es"/>
	      <paradigm n="absolut__adj" c="absolut /a /s /es"/>
	      <paradigm n="bo__adj" c="bo /na /ns /nes"/>
	      <paradigm n="ros__adj" c="ros /sa /sos /ses"/>
	      <paradigm n="amarg__adj" c="amarg /a /s /ues"/>
	      <paradigm n="gal__adj" c="tranquil /·la /s /·les"/>
	      <paradigm n="lesbian/a__adj" c="lesbian/as /es"/>
	      <paradigm n="belg/a__adj" c="belg/a /ues"/>
	      <paradigm n="r/anci__adj" c="r/anci /àncies /ancis /àncies"/>
	      <paradigm n="contempor/ani__adj" c="contempor/ani /ànies /anis /ànies"/>
	      <paradigm n="adjudicat/ari__adj" c="complement/ari /àries /aris /àries"/>
	      <paradigm n="ce/c__adj" c="anti/c /ga /cs /gues"/>
	      <paradigm n="acadèmi/c__adj" c="asimètri/c /ca /cs /ques"/>
	      <paradigm n="bas/c__adj" c="bas/c /ca /cs /cos /ques"/>
	      <paradigm n="blan/c__adj" c="ma/co /ca /cos /ques"/>
	      <paradigm n="adept/e__adj" c="maldrestr/e /a /es /es"/>
	      <paradigm n="heterog/eni__adj" c="heterog/eni /ènia /enis /ènies"/>
	      <paradigm n="indon/esi__adj" c="indon/esi /èsia /esis /èsies"/>
	      <paradigm n="perp/etu__adj" c="perp/etu /ètua /etus /ètues"/>
	      <paradigm n="pr/evi__adj" c="pr/evi /èvia /evis /èvies"/>
	      <paradigm n="mi/g__adj" c="mi/g /tja /tjos /tges"/>
	      <paradigm n="lle/ig__adj" c="lle/ig /tja /tjos /tges"/>
	      <paradigm n="bo/ig__adj" c="bo/ig /ja /jos /ges"/>
	      <paradigm n="amf/ibi__adj" c="amf/ibi /íbia /ibis /íbies"/>
	      <paradigm n="fict/ici__adj" c="fict/ici /ícia /icis /ícies"/>
	      <paradigm n="ass/idu__adj" c="ass/idu /ídua /idus /ídues"/>
	      <paradigm n="sangu/ini__adj" c="sangu/ini /ínia /inis /ínies"/>
	      <paradigm n="cont/inu__adj" c="cont/inu /ínua /inus /ínues"/>
	      <paradigm n="eg/ipci__adj" c="eg/ipci /ípcia /ipcis /ípcies"/>
	      <paradigm n="guarr/o__adj" c="guarr/o /a /os /es"/>
	      <paradigm n="s/obri__adj" c="s/obri /òbria /obris /òbries"/>
	      <paradigm n="err/oni__adj" c="err/oni /ònia /onis /ònies"/>
	      <paradigm n="pr/opi__adj" c="pr/opi /òpia /opis /òpies"/>
	      <paradigm n="s/avi__adj" c="s/avi /àvia /avis /àvies"/>
	      <paradigm n="t/ebi__adj" c="t/ebi /èbia /ebis /èbies"/>
	      <paradigm n="interm/edi__adj" c="interm/edi /èdia /edis /èdies"/>
	      <paradigm n="boh/emi__adj" c="boh/emi /èmia /emis /èmies"/>
	      <paradigm n="access/ori__adj" c="satisfact/ori /òria /oris /òries"/>
	      <paradigm n="ing/enu__adj" c="ing/enu /ènua /enus /ènues"/>
	      <paradigm n="a/eri__adj" c="a/eri /èria /eris /èries"/>
	      <paradigm n="afortuna/t__adj" c="afortuna/t /da /ts /des"/>
	      <paradigm n="ate/u__adj" c="europe/u /a /us /es"/>
	      <paradigm n="abusi/u__adj" c="acti/u /va /us /ves"/>
	      <paradigm n="ambig/u__adj" c="ambig/u /ua /us /ües"/>
	      <paradigm n="vag/ue__adj" c="vag/ue /a /ues /ues"/>
	      <paradigm n="m/utu__adj" c="m/utu /útua /utus /útues"/>
	      <paradigm n="afric/à__adj" c="afric/à /ana /ans /anes"/>
	      <paradigm n="esc/às__adj" c="esc/às /asa /assos /asses"/>
	      <paradigm n="feli/ç__adj" c="feli/ç /ç /ços /ces"/>
	      <paradigm n="dol/ç__adj" c="dol/ç /ça /ços /ces"/>
	      <paradigm n="ali/è__adj" c="ali/è /ena /ens /enes"/>
	      <paradigm n="afgan/ès__adj" c="afga/ès /esa /esos /eses"/>
	      <paradigm n="esp/ès__adj" c="esp/ès /essa /essos /esses"/>
	      <paradigm n="alacant/í__adj" c="alacant/í /ina /ins /ines"/>
	      <paradigm n="genu/í__adj" c="genu/í /ïna /ïns /ïnes"/>
	      <paradigm n="af/í__adj" c="af/í /ins"/>
	      <paradigm n="imprec/ís__adj" c="imprec/ís /isa /isos /ises"/>
	      <paradigm n="cast/ís__adj" c="cast/ís /issa /issos /isses"/>
	      <paradigm n="su/ís__adj" c="su/ís /ïssa /ïssos /ïsses"/>
	      <paradigm n="amfitri/ó__adj" c="amfitri/ó /ona /ons /ones"/>
	      <paradigm n="marr/ó__adj" c="marr/ó /ons"/>
	      <paradigm n="aliment/ós__adj" c="amist/ós /osa /osos /oses"/>
	      <paradigm n="com/ú__adj" c="com/ú /una /unos /unes"/>
	      <paradigm n="andal/ús__adj" c="andal/ús /usa /usos /uses"/>
	      <paradigm n="multi/ús__adj" c="multi/ús /usos"/>
	      <paradigm n="multimèdia__adj" c="express"/>
            </paradigms>
          </side>
        </tag>
        <tag n="adv">
	  <side n="l">
	    <paradigms>
              <paradigm n="ahora__adv" c="Standard adverb"/>
	    </paradigms>
	  </side> 
	  <side n="l">
	    <paradigms>
              <paradigm n="ahir__adv" c="Standard adverb"/>
	    </paradigms>
	  </side>
        </tag>
        <tag n="vblex">
          <show syms="vblex.pri.p1.sg"/>
	  <show syms="vblex.prs.p1.sg"/>
	  <show syms="vblex.pp.m.sg"/>
	  <side n="l">
	   <paradigms display="list">
	      <paradigm n="abandon/ar__vblex" c="cant/ar /o /e /ado"/>
	      <paradigm n="ata/car__vblex" c="ata/car /co /que /cado"/>
	      <paradigm n="aleg/ar__vblex" c="abrig/ar /o /ue /ado"/>
	      <paradigm n="abalan/zar__vblex" c="alcan/zar /zo /ce /zado"/>
	      <paradigm n="vend/er__vblex" c="com/er /o /a /ido"/>
	      <paradigm n="aco/ger__vblex" c="aco/ger /jo /ja /gido"/>
	      <paradigm n="agrade/cer__vblex" c="cre/cer /zco /zca /cido"/>
	      <paradigm n="abat/ir__vblex" c="part/ir /o /a /ido"/>
	      <paradigm n="satisf/acer__vblex" c="satisf/acer /ago /aga /echo"/>
	      <paradigm n="d/ar__vblex" c="d/ar /oy /é /ado"/>
	      <paradigm n="and/ar__vblex" c="and/ar /o /uve /ado"/>
	      <paradigm n="est/ar__vblex" c="est/ar /oy /é /ado"/>
	      <paradigm n="descri/bir__vblex" c="descri/bir /bo /ba /to"/>
	      <paradigm n="condu/cir__vblex" c="condu/cir /zco /zca /cido"/>
	      <paradigm n="contrad/ecir__vblex" c="contrad/ecir /igo /iga /icho"/>
	      <paradigm n="corr/egir__vblex" c="corr/egir /ijo /ija /egido"/>
	      <paradigm n="abst/ener__vblex" c="abst/ener /engo /enga /enido"/>
	      <paradigm n="conv/enir__vblex" c="conv/enir /engo /iene /enido"/>
	      <paradigm n="prev/er__vblex" c="prev/er /eo /ea /isto"/>
	      <paradigm n="atra/er__vblex" c="atra/er /igo /iga /ido"/>
	      <paradigm n="pref/erir__vblex" c="pref/erir /iero /iera /erido"/>
	      <paradigm n="adv/ertir__vblex" c="adv/ertir /ierto /ierta /ertido"/>
	      <paradigm n="diri/gir__vblex" c="diri/gir /jo /ja /gido"/>
	      <paradigm n="atribu/ir__vblex" c="atribu/ir /yo /ya /ido"/>
	      <paradigm n="comp/oner__vblex" c="comp/oner /ongo /onga /uesto"/>
	      <paradigm n="disting/uir__vblex" c="disting/uir /o /a /uido"/>
	   </paradigms>
	  </side>
	  <side n="r">
	    <paradigms display="list">
	      <paradigm n="afalag/ar__vblex" c="afalag/ar /o /ui /at"/>
	      <paradigm n="abander/ar__vblex" c="abander/ar /o /i /at"/>
	      <paradigm n="acarici/ar__vblex" c="acarici/ar /o /ï /at"/>
	      <paradigm n="esglai/ar__vblex" c="esgla/iar /io /ï /iat"/>
	      <paradigm n="adequ/ar__vblex" c="adeq/uar /uo /üi /uat"/>
	      <paradigm n="ca/bre__vblex" c="ca/bre /bo /p /but"/>
	      <paradigm n="abo/car__vblex" c="abo/car /co /qui /cat"/>
	      <paradigm n="conven/cer__vblex" c="conv/èncer /enço /enci /ençut"/>
	      <paradigm n="absol/dre__vblex" c="absol/dre /c /gui /t"/>
	      <paradigm n="ven/dre__vblex" c="ven/dre /c /gui /ut"/>
	      <paradigm n="conv/enir__vblex" c="conv/enir /inc /enen /ingut"/>
	      <paradigm n="v/enir__vblex" c="v/enir /inc /énen /ingut"/>
	      <paradigm n="absol/dre__vblex" c="absol/dre /c /gui /t"/>
	      <paradigm n="desf/er__vblex" c="desf/er /aig /aci /et"/>
	      <paradigm n="equival/er__vblex" c="equival/er /c /gui /gut"/>
	      <paradigm n="concorr/er__vblex" c="conc/órrer /orro /orri /egut"/>
	      <paradigm n="prem/er__vblex" c="pr/émer /emo /emi /emut"/>
	      <paradigm n="atr/eure__vblex" c="atr/eure /ec /egui /et"/>
	      <paradigm n="entrev/eure__vblex" c="entrev/eure /eig /egi /ist"/>
	      <paradigm n="fu/gir__vblex" c="fu/gir /jo /gi /git"/>
	      <paradigm n="impr/imir__vblex" c="impr/imir /imeixo /imeixi /ès"/>
	      <paradigm n="contrad/ir__vblex" c="contrad/ir /ic /igui /it"/>
	      <paradigm n="ajup/ir__vblex" c="ajup/ir /o /i /it"/>
	      <paradigm n="ompl/ir__vblex" c="ompl/ir /o /i /ert"/>
	      <paradigm n="abarat/ir__vblex" c="abarat/ir /eixo /eixi /it"/>
	      <paradigm n="acompl/ir__vblex" c="acompl/ir /eixo /eixi /ert"/>
	      <paradigm n="ofer/ir__vblex" c="ofer/ir /eixo /eixi /t"/>
	      <paradigm n="addu/ir__vblex" c="addu/ir /eixo /eixi /ït"/>
	      <paradigm n="somr/iure__vblex" c="somr/iure /ic /igui /igut"/>
	      <paradigm n="apare/ixer__vblex" c="con/èixer /ec /egui /egut"/>
	      <paradigm n="acre/ixer__vblex" c="cr/éixer /eixo /eixi /escut"/>
	      <paradigm n="mere/ixer__vblex" c="mer/èixer /eixo /eixi /escut"/>
	      <paradigm n="agreu/jar__vblex" c="agreu/jar /jo /gi /jat"/>
	      <paradigm n="fo/ndre__vblex" c="fo/ndre /nc /ngui /s"/>
	      <paradigm n="confo/ndre__vblex" c="conf/ondre /onc /ongui /ós"/>
	      <paradigm n="ate/ndre__vblex" c="ate/ndre /nc /ngui /ès"/>
	      <paradigm n="compo/ndre__vblex" c="compo/ndre /nc /ongui /ost"/>
	      <paradigm n="ac/ollir__vblex" c="ac/ollir /ullo /ulli /ollit"/>
	      <paradigm n="sobres/ortir__vblex" c="s/ortir /urto /urti /ortit"/>
	      <paradigm n="re/prendre__vblex" c="re/prendre /prenc /prengui /près"/>
	      <paradigm n="abat/re__vblex" c="debat/re /o /i /ut"/>
	      <paradigm n="sof/rir__vblex" c="descob/rir /reixo /reixi /ert"/>
	      <paradigm n="ob/rir__vblex" c="ob/rir /ro /ri /ert"/>
	      <paradigm n="abs/tenir__vblex" c="entre/tenir /tinc /tingui /tingut"/>
	      <paradigm n="adme/tre__vblex" c="adm/etre /eto /eti /ès"/>
	      <paradigm n="compla/ure__vblex" c="compla/ure /c /gui /gut"/>
	      <paradigm n="conclo/ure__vblex" c="incl/oure /oc /ogui /òs"/>
	      <paradigm n="asse/ure__vblex" c="asse/ure /c /ia /gut"/>
	      <paradigm n="be/ure__vblex" c="be/ure /c /iva /gut"/>
	      <paradigm n="abalan/çar__vblex" c="avan/çar /ço /ci /çat"/>
	      <paradigm n="convi/ure__vblex" c="convi/ure /sc /squi /scut"/>
	      <paradigm n="adscri/ure__vblex" c="adscri/ure /c /gui /t"/>
	    </paradigms>
	  </side>
	</tag>
      </tags>
    </pair>


    <pair n="apertium-sv-da">
      <dictionaries>
        <dictionary n="Swedish" side="l" format="dix" file="apertium-sv-da.sv.dix" />
        <dictionary side="bilingual" format="dix" file="apertium-sv-da.sv-da.dix" />
        <dictionary n="Danish" side="r" format="dix" file="apertium-sv-da.da.dix" />
      </dictionaries>
      <tags>
        <tag n="n"/>
        <tag n="adj"/>
        <tag n="vblex"/>
      </tags>
    </pair>
  </pairs>

</webforms>
