<?xml version="1.0" encoding="UTF-8"?>

<webforms>
  <directories>
    <wd>/home/fran/public_html/dictionary</wd>
    <cache>cache</cache>
    <templates>templates</templates>
  </directories>

  <pairs>
    <pair n="apertium-es-gl">
      <dictionaries>
        <dictionary n="Spanish" side="l" format="dix" file="apertium-es-gl.es.dix" />
        <dictionary side="bilingual" format="dix" file="apertium-es-gl.es-gl.dix" />
        <dictionary n="Galician" side="r" format="dix" file="apertium-es-gl.gl.dix" />
      </dictionaries>
      <tags>
        <tag n="n">
          <side n="l" depth="2">
            <use-template tags="n.mf" file="template.LR.n.mf"/>
          </side>
          <side n="r" depth="2">
            <use-template tags="n.mf" file="template.RL.n.mf"/>
          </side>
        </tag>
        <tag n="adj">
          <side n="l" depth="2">
            <use-template tags="adj.mf" file="template.LR.adj.mf"/>
          </side>
          <side n="r" depth="2">
            <use-template tags="adj.mf" file="template.RL.adj.mf"/>
          </side>
        </tag>
        <tag n="adv"/>
        <tag n="vblex">
          <show syms="vblex.pri.p1.sg"/>
	  <show syms="vblex.prs.p1.sg"/>
	  <show syms="vblex.pp.m.sg"/>
	</tag>
      </tags>
    </pair>

    <pair n="apertium-sv-da">
      <dictionaries>
        <dictionary n="Swedish" side="l" format="dix" file="apertium-sv-da.sv.dix" />
        <dictionary side="bilingual" format="dix" file="apertium-sv-da.sv-da.dix" />
        <dictionary n="Danish" side="r" format="dix" file="apertium-sv-da.da.dix" />
      </dictionaries>
      <tags>
        <tag n="n"/>
        <tag n="adj"/>
        <tag n="vblex"/>
      </tags>
    </pair>
  </pairs>

</webforms>
