*~
*.bin
en-pl.mode
configure
pl-en.mode
Makefile
Makefile.in
config.log
config.status
stamp-h1
aclocal.m4
install-sh
config.in
INSTALL
apertium-en-pl.pl.dix
apertium-en-pl.en-pl.dix
apertium-en-pl.en.dix
