AuthType Basic
AuthName "Word Insertion Form (If you want to help us by adding words to Apertium, you must register with us to use this form: see http://xixona.dlsi.ua.es/prototype/)"
AuthUserFile /usr/local/usuaris/webform-private
require valid-user