body
{
  font-size: smaller;
  font-family: Helvetica, sans-serif;
      background-color: #FFFFCC;
}

form
{
  text-align: center;
}

div.logos
{
  position: fixed;
  top: 0px;
  left: 780px;
}

div.cos
{
  position: absolute;
  top: 10px;
  margin-left: 180px;
  margin-right: 10px;
  padding: 10pt;
  border: 1px solid #666666;
  background-color: #FFFFFF;
  width: 560px;
}

div.contenidormenu
{
  position: fixed;
  left: 10px;
  top: 10px;
  padding: 0;
  width: 170px;
}

div.menu
{
  background-color: #FFFF88;
  padding: 0;
  border: 1px solid #666666;
}

div.menuseparator
{
  font-weight: normal;
  background-color: #FFFFCC;
  border-left: 1px solid #FFFFCC;
  border-right: 1px solid #FFFFCC;
  height: 10px;
}

div.menuheader
{
  font-weight: bold;
  color: #000000;
  background-color: #CCCCAA;
  border-bottom: 1px solid #666666;
  padding: 4pt;
  text-align: center;
}

div.menusection
{
  font-weight: bold;
  color: #000055;
  padding: 4pt 6pt 2pt 10pt;
}

div.menuitem
{
  font-weight: normal;
  color: #000055;
  padding: 0pt 6pt 2pt 20pt;
}

div.menutext
{
  color: #000055;
  padding: 4pt 6pt 2pt 10pt;
}

a:link,a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #000055;
}

a:link:hover,a:link:active
{
  color: #ff9933;
  text-decoration: underline;
}

a.menuitem:link,a.menuitem:visited
{
  font-weight: normal;
  text-decoration: none;
}

a.menuitem:hover,a.menuitem:active
{
  color: #ff9933;
  text-decoration: underline;
}

div.endsection
{
  text-align: right;
  border-bottom: 1px solid #666666;
  margin: 0pt -10pt 5pt -10pt;
  padding: 10pt;
}

h1.titol {
  color: #000000;
  font-weight: bold;
  font-size: large;
  text-align: center;
  border-bottom: 1px solid #666666;
  margin: -10pt;
  padding: 10pt;
  background-color: #9FAFCF;
}

h3.seccio
{
  font-size: medium;
  color: #000000;
  padding-top: 10pt;
}

table
{
  border-collapse: collapse;
  border-color: #666666;
}

thead
{
  font-size: large;
  background-color: #D6E0F5;
  font-weight: bold;
  text-align: center;
}

th
{
  background-color: #D6E0F5;
  font-weight: bold;
  text-align: left;
  border-color: #666666;
}

td
{
  padding-left: 4pt;
  padding-right: 4pt;
  border-color: #666666;
}

td.ort
{
  color: green;
}

td.anot
{
  color: red;
}

td.exemple
{
  white-space: nowrap;
}

td.separador
{
  height: 10pt;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

img.logo 
{
  width : 200px ;
}

h1.centered {text-align : center}
h2.centered {text-align : center}
