body {
	margin: 0px;
	padding: 0px;
}

div {
	border: black 0px solid;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	padding: 0px;
	margin: 0px;
}

hr {
	border: grey 1px solid;
	padding: 0px;
	margin: 0px;
}

#left {
	float: left;
	width: 34%;
}

#right {
	float: left;
	width: 32%;
}

#centre {
	float: left;
	width: 34%;
}

#known_word {
	border: red 2px solid;
}

#symbol_list {
	font-size: 10pt;
	font-family: monospace, fixed;
	color: #bbbbbb;
}

#bidix_entrada {
	font-size: 10pt;
	font-family: monospace, fixed;
	color: #bbbbbb;
}

#monodix_entrada {
	font-size: 10pt;
	font-family: monospace, fixed;
	color: #bbbbbb;
}
